@import "../utils/colors.scss";
.testimonials-container {
  background-color: $backgroundOtherColor;
  
  .container {
  
    .title-container {
      text-align: center;
      font-weight: 600;
      padding: 1em;
    
    
      .title {
        font-size: 1.4em;
       
      }
      p {
        font-size: 1.4em;
        color: rgb(83, 82, 82);
      }
    }
    .testimonials {
      display: flex;
      gap: 4em;
      justify-content: center;
      padding: 3em;
      
   
    }
  }

}


@media all and (min-width: 1360px) {
  .testimonials-container {
    background-color: $backgroundOtherColor;
    
    .container {
    
      .title-container {
        text-align: center;
        font-weight: 600;
        padding: 1em;
      
      
        .title {
          font-size: 1.4em;
         
        }
        p {
          font-size: 1.4em;
          color: rgb(83, 82, 82);
        }
      }
      .testimonials {
        display: flex;
        gap: 4em;
        justify-content: center;
        padding: 3em;
        
     
      }
    }

}
}
@media all and(min-width:992px) and(max-width:1360px) {
  .testimonials-container {
    .container {
      .title-container {
        font-size: 0.8em;
        padding: 2em;
      }
      .testimonials {
        gap: 2em;
      }
    }
  }
}
@media all and(min-width:768px) and(max-width:992px) {
  .testimonials-container {
    .container {
      .title-container {
        font-size: 1.5em;
      }
      .testimonials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3em;
      }
    }
  }
}
@media all and(min-width:576px) and(max-width:768px) {
  .testimonials-container {
    .container {
      .title-container {
        font-size: 3em;
      }
      .testimonials {
        display: flex;
        flex-direction: column;
        gap: 7em;
        align-items: center;
      }
    }
  }
}
@media all and(max-width:576px) {
  .testimonials-container {
    .container {
      .title-container {
        font-size: 2em;
      }
      .testimonials {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
